@charset 'UTF-8';
.lt_search {
  padding: 10px;
  position: relative;
}
.lt_search > input {
  border: 1px solid #069;
  height: 34px;
  line-height: 34px;
  font-size: 13px;
  border-radius: 5px;
}
.lt_search > a {
  position: absolute;
  top: 10px;
  right: 10px;
  height: 34px;
  line-height: 34px;
  font-size: 12px;
  width: 60px;
  background-color: #069;
  text-align: center;
  color: #fff;
  border-radius: 0 5px 5px 0;
}
.lt_history {
  padding: 0 10px;
}
.lt_history .title > span {
  height: 21px;
  line-height: 21px;
  display: block;
  font-size: 13px;
  color: #999;
}
.lt_history .content {
  padding: 10px 0;
}
.lt_history .content > ul {
  border: 1px dashed red;
  border-bottom: none;
}
.lt_history .content > ul > li {
  height: 40px;
  line-height: 40px;
  padding-left: 10px;
  font-size: 14px;
  border-bottom: 1px dashed red;
}
.lt_history .content > ul > li > i {
  padding-top: 8px;
}
